.center{
    flex: 6;
    height: calc(100vh - 55px);
    background-color: rosybrown;
    width: 800px;
    border-right: 1px solid grey;
}
@media (min-width:1100px) {
    .addpost{
        width: 800px !important;
    }
}